In [25]:
import numpy as np
import pandas as pd
#csv to pandas dataframe

diabetes_df = pd.read_csv("diabetes.csv")

In [13]:
diabetes_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [17]:
type(diabetes_df)

pandas.core.frame.DataFrame

In [19]:
diabetes_df.shape

(768, 9)

In [21]:
#loading thee data from a excel file to a pandas dataframe
# pd.read_excel("filename.extension")

In [23]:
#exporting dataframe to a csv
#boston_df.to_csv("filename.csv")

#exporitng pandas datframe to the esdel fijw

In [29]:
random_df = pd.DataFrame(np.random.rand(20,10))
random_df

,0,1,2,3,4,5,6,7,8,9
0,0.718552,0.950842,0.606223,0.758951,0.754975,0.547005,0.492324,0.422305,0.786247,0.989187
1,0.436453,0.024255,0.999768,0.120909,0.238973,0.731805,0.534437,0.844662,0.407277,0.996168
2,0.907795,0.403165,0.582039,0.811212,0.374454,0.207258,0.352321,0.666647,0.417121,0.172904
3,0.399343,0.776304,0.483697,0.782664,0.020223,0.078758,0.532716,0.102454,0.093106,0.235795
4,0.659858,0.420546,0.483393,0.486346,0.356605,0.768611,0.765174,0.233484,0.380505,0.601625
5,0.019276,0.321792,0.500855,0.448009,0.352430,0.163031,0.816333,0.558283,0.688870,0.448124
6,0.882894,0.033678,0.828154,0.975238,0.442971,0.826881,0.078816,0.514448,0.667711,0.508724
7,0.018021,0.657832,0.214024,0.270447,0.327661,0.258754,0.697845,0.663167,0.002802,0.366929
8,0.663471,0.545449,0.675169,0.725915,0.167740,0.982080,0.524559,0.877312,0.008776,0.745818
9,0.034803,0.279451,0.066815,0.547911,0.980037,0.955140,0.294921,0.127866,0.679793,0.107382
10,0.582492,0.848627,0.288841,0.577980,0.985178,0.440213,0.935436,0.182104,0.988465,0.497881
11,0.295781,0.389385,0.735148,0.014648,0.901234,0.184425,0.460285,0.027556,0.669529,0.328492
12,0.174995,0.143401,0.996879,0.724144,0.082742,0.404525,0.224654,0.393018,0.185726,0.459514
13,0.934211,0.482495,0.481497,0.906613,0.485233,0.037669,0.893538,0.750962,0.734093,0.624141
14,0.356176,0.053994,0.305902,0.349107,0.142066,0.827544,0.480048,0.721631,0.483078,0.542004
15,0.852004,0.066231,0.358251,0.582132,0.945606,0.544994,0.884284,0.606669,0.687091,0.124474
16,0.983162,0.971438,0.640970,0.772798,0.118561,0.478857,0.646116,0.195896,0.643629,0.975280
17,0.683096,0.060736,0.056145,0.106382,0.092132,0.181765,0.740058,0.057229,0.820849,0.410169
18,0.904498,0.710221,0.059700,0.167297,0.691508,0.626726,0.746054,0.491417,0.172307,0.032622
19,0.738722,0.596391,0.939973,0.020011,0.712479,0.084649,0.367994,0.002660,0.541188,0.788183

In [31]:
random_df.head()
random_df.shape

(20, 10)

In [33]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.718552,0.950842,0.606223,0.758951,0.754975,0.547005,0.492324,0.422305,0.786247,0.989187
1,0.436453,0.024255,0.999768,0.120909,0.238973,0.731805,0.534437,0.844662,0.407277,0.996168
2,0.907795,0.403165,0.582039,0.811212,0.374454,0.207258,0.352321,0.666647,0.417121,0.172904
3,0.399343,0.776304,0.483697,0.782664,0.020223,0.078758,0.532716,0.102454,0.093106,0.235795
4,0.659858,0.420546,0.483393,0.486346,0.356605,0.768611,0.765174,0.233484,0.380505,0.601625

In [35]:
random_df.tail()

,0,1,2,3,4,5,6,7,8,9
15,0.852004,0.066231,0.358251,0.582132,0.945606,0.544994,0.884284,0.606669,0.687091,0.124474
16,0.983162,0.971438,0.640970,0.772798,0.118561,0.478857,0.646116,0.195896,0.643629,0.975280
17,0.683096,0.060736,0.056145,0.106382,0.092132,0.181765,0.740058,0.057229,0.820849,0.410169
18,0.904498,0.710221,0.059700,0.167297,0.691508,0.626726,0.746054,0.491417,0.172307,0.032622
19,0.738722,0.596391,0.939973,0.020011,0.712479,0.084649,0.367994,0.002660,0.541188,0.788183

In [37]:
#informations about the Dataframe
random_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
 5   5       20 non-null     float64
 6   6       20 non-null     float64
 7   7       20 non-null     float64
 8   8       20 non-null     float64
 9   9       20 non-null     float64
dtypes: float64(10)
memory usage: 1.7 KB

In [39]:
#finding the number of missing values in the dataframe.
random_df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [41]:
## for diabeter
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [47]:
#counting the values based on the labels
diabetes_df.value_counts('Outcome')

Outcome
0    500
1    268
Name: count, dtype: int64

In [51]:
#grouping the values based on their mean
diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [55]:
#count the number of values
diabetes_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [57]:
#mean-column wise
diabetes_df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [61]:
diabetes_df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [65]:
# all the statistical measures about the dataframe
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [69]:
#manipulating dataframe
#adding a column to a dataframe

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [75]:
#removing a row
diabetes_df.drop(index = 0, axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [81]:
#drop a columns
diabetes_df.drop(columns='Insulin', axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,33.6,0.627,50,1
1,1,85,66,29,26.6,0.351,31,0
2,8,183,64,0,23.3,0.672,32,1
3,1,89,66,23,28.1,0.167,21,0
4,0,137,40,35,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,10,101,76,48,32.9,0.171,63,0
764,2,122,70,27,36.8,0.340,27,0
765,5,121,72,23,26.2,0.245,30,0
766,1,126,60,0,30.1,0.349,47,1
767,1,93,70,31,30.4,0.315,23,0

In [83]:
#locating a wor using the index value
diabetes_df.iloc[2]

Pregnancies                   8.000
Glucose                     183.000
BloodPressure                64.000
SkinThickness                 0.000
Insulin                       0.000
BMI                          23.300
DiabetesPedigreeFunction      0.672
Age                          32.000
Outcome                       1.000
Name: 2, dtype: float64

In [91]:
#locating a perticular column
print(diabetes_df.iloc[0,0])

6

In [93]:
#Correlation
#1. Positive Correlation
#2. Negative Correlation

In [95]:
diabetes_df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000